@media (min-width:800px) {

  nav, main article{
    width: 800px;margin: 0 auto;
  }
  nav, main{
    top: 0;
  }
  nav{
    position: fixed;
    z-index: 10;
    left: 15px;
    width: calc( 100% - 30px);
  }
  nav .btn-group a .label{
    display: initial;
    margin-left: 0.4em;
  }
  nav .copyright{
    display: initial;
    vertical-align: top;
    position: relative;
    top: 10px; left: 10px;
  }
  nav .copyright a{
    position: absolute;
  }
  .toggle-switch{
    top: 20px;
    right: 300px;
    width: 38px;
    height: 20px;
  }
  .toggle-switch:after{
    width: 16px;
    height: 16px;
  }
  .toggle-switch svg{
    height: 16px;
    left: 2px;
  }
  
  /* article{
    display: flex;
  } */
  article .top li,
  article .story,
  article img,
  article video{
    width: 528px;
    display: inline-block;
    vertical-align: bottom;
    /* flex: 1 1;  */
  }
  article .story{
    width: 250px;
    margin-bottom: 30px;
  }
  article .top,
  article .basics,
  article .details{
    display: flex;
    align-items: flex-end;
  }
  /* article .details .results, */
  /* article .details .process{ */
  article .top li,
  article .basics li,
  article .details li{
    flex: 1;
    margin-right: 30px;
    padding: 0;
  }
  article .details{
    align-items: flex-start;
  }
  article .details,
  article .story{
    padding: 0;
  }
  article .details .results{
    margin: 0;
  }
}