@font-face{
	font-family: 'Asap Bold';
	src: url('../fonts/Asap/Asap-Bold.ttf') format('truetype');
}
@font-face{
	font-family: 'Asap';
	src: url('../fonts/Asap/Asap-Regular.ttf') format('truetype');
}
html{	box-sizing: border-box; }
*,*:before,*:after{	box-sizing: inherit; }
a{ color: inherit; text-decoration: none; }
a:hover{ color: #fff; }
body{
  margin: 0;
  padding: 0;
  font-family: 'Asap Bold', sans-serif;
  font-weight: normal;
  font-size: 15px;
}
h1,h2,h3,h4,p,ul,li{
  margin: 0;
  padding: 0;
  padding-bottom: 0.75em;
}
p,ul,li{
  padding-bottom: 0;
}
li{list-style: none}
nav,
footer,
.toggle-switch{
	color: #C8E4F1;
	font-size: 14px;
}
footer,
nav{
  position: fixed;
  z-index: 1000;
  background: rgba(0,50,99,1);
  border-radius: 0 0 14px 14px;
  margin: 0 4%;
  width: 92%;
}
footer{
  top: auto;
  bottom: 0;
  border-radius: 14px 14px 0 0;
}
footer span.note{ font-size: 12px; opacity: 0.75; }
.toggle-switch{
  position: fixed;
  top: 46px;
	right: 30px;	
  width: 31px;height: 16px;
  border: #0092D3 1px solid;
  border-radius: 5px;
  transition: background 0.5s;
  z-index: 1100;
}
.toggle-switch svg{
  position: absolute;
  top: 1px; left: 1px;
  width: 11px;height: 11px;
}
.toggle-switch svg:last-child,
.toggle-switch i:last-child{
	position: absolute;
	top: 1px;left: auto;right: 1px;
}
.toggle-switch:after{
	display: block;
	content: "";
	background: #0092D3;
	width: 12px;height: 12px;
	position: absolute;
	top: 1px;left: 3px;
  border-radius: 3px;
	transition: all 0.25s ease-in-out;
}
nav,footer,main{
  padding: 15px 15px 10px;
}
nav #odclogo{ height: 32px; }
footer .odclogo{ height: 18px; opacity:0.35}
nav .copyright{
  display: block;
  font-size: 11px;
  line-height: 1;
  color: #C8E4F1;
  text-transform: uppercase;
}
nav .copyright a .fa-twitter{
	margin: 0 0.5em;
}
.toggle-switch span{
	padding: 7px 10px;
	display: block;
}
.toggle-screenreader,
#theme{
	display: none;
}
#theme:checked ~ label.toggle-switch:after{
	transform: translate3d(100%,0,0);
}
#theme:checked ~ main{
	background: #0058AD;
	color: #C8E4F1;
}
#theme ~ main{
	color: #002c56;
	background: #cfdfe6;
}
#theme ~ nav,
#theme ~ .toggle-switch,
#theme:checked ~ nav,
#theme:checked ~ .toggle-switch{
	color: #C8E4F1;
}
main{
	padding: 70px 15px 15px;
	transition: background 0.5s,color 0.5s
}
figure{
	-webkit-margin-before: 0;
	-webkit-margin-after: 0;
	-webkit-margin-start: 0;
	-webkit-margin-end: 0;
}
main header .title{
	font-size: 22px;
	text-transform: uppercase;
	color: #003263;
	margin-left: 10px;
	display: inline-block;
	line-height: 15px;
	position: relative;
	top: -10px;
}
.and{
	font: 20px Arial;
}
footer .btn-group,
nav .btn-group{
  position: absolute;
  top: 17px;
  right: 15px;
}
footer .btn-group{
  right: auto;
  left: 15px;
}
footer .link-group{
  position: absolute;
  top: 15px;
  right: 15px;
}
.btn-group a,
figure.plaque{
	background: #0092D3;
	border-radius: 10px;
	padding: 15px 15px 5px;
	display: inline-block;
}
.btn-group a:first-child{ border-radius: 7px 0 0 7px; }
.btn-group a:last-child{ border-radius: 0 7px 7px 0; }
.btn-group a{
	padding: 4px 10px;
	border-radius: 0;
}
.btn-group a:hover{
	-webkit-box-shadow:
    inset 1px 1px 1px 1px rgba(0,50,99,.5),
    inset -1px -1px 1px 1px rgba(200,228,241,.25);
  box-shadow: 
		inset 1px 1px 1px 1px rgba(0,50,99,.5),
		inset -1px -1px 1px 1px rgba(200,228,241,.25);
  background: #257ec5;
  opacity: 0.6;
}
.btn-group a .label{
  display: none;
}
article{
	margin-top: 30px;
}
article img,
article video{
	margin-bottom: 30px;
	-webkit-box-shadow: 0 10px 6px -6px rgba(0,0,0,.35);
	box-shadow: 0 10px 6px -6px rgba(0,0,0,.35);
}
article img,
article span,
article video{
  display: block;
  width: 100%  
}
article .details,
article .story{
  padding: 0 30px;
}
article h1{
  font-size: 20px;
  font-weight: normal;
}
article h2{
	text-transform: uppercase;
  margin-top: 0;
  font-size: 30px;
  font-weight: normal;
	line-height: 1;
}
article h3{
  text-transform: uppercase;
  font-size: 16px;
  font-weight: normal;
  border-top: 1px solid;
  padding: 15px;
  text-align: center;
}
article p{
  font-family: 'Asap', sans-serif;
  font-weight: normal;
  font-size: 18px;
	line-height: 1.5;
	line-height: 1.35;
}
article .details li{
  padding: 3em 0;
}
article .details li:first-child{
  padding-bottom: 0;
}
article .details .results,
article .details .process{
  position: relative;
  border-bottom: 1px solid;
}
article .details .results{
  border-bottom: none;
  border-top: 1px solid;
  margin-top: 30px;
}
article .details .results h4,
article .details .process h4{
  position: absolute;
  bottom: 0; right: 0;
  border-left: 1px solid;
  padding: 5px 0 10px 15px;
}
article .details .results h4{
  bottom: auto; top: 0;
  padding: 10px 0 5px 15px;
}
article a{ opacity: 0.5 }
article a.button{
  text-align: center;
  display: block;
}
article a:hover{ opacity: 1 }